In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.DataFrame([[1, None, None], [4, None, None], [None, 2, 9]])

In [18]:
df.head()

     0    1    2
0  1.0  NaN  NaN
1  4.0  NaN  NaN
2  NaN  2.0  9.0

In [19]:
df[0] = df[0].fillna(method='ffill')

In [20]:
df.head()

     0    1    2
0  1.0  NaN  NaN
1  4.0  NaN  NaN
2  4.0  2.0  9.0

In [21]:
df = df.iloc[:,0:3].fillna(method='bfill')

In [22]:
df.head()

     0    1    2
0  1.0  2.0  9.0
1  4.0  2.0  9.0
2  4.0  2.0  9.0